header {
    display: flex;
    min-height: 5rem;
    width: 100%;
    background-color: #faf9fe;
    align-items: center;
    padding: 0 2rem;
}

header .header-left {
    flex-grow: 1;
    display: flex;
}

.header-left .header-icon {
    color: var(--primary-color);
    display: flex;
    gap: .5rem;
    font-weight: 600;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
}

.header-icon span {
    font-size: 1.2rem;
    color: #35035e;
}

.header-left ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

ul .header-link {
    border-radius: 5px;
    padding: .5rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .3s ease-in-out;
    transition-property: color, background-color;
}

ul li>span:hover,
ul li>span:focus {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

ul .header-link span {
    margin: 0 5px;
}

.header-right button:first-child {
    margin-right: 1rem;
}

.header-right button:last-child {
    margin-right: 1rem;
}