.container-not-found{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
}

.container-not-found img{
    width: 50%;
}

.container-not-found h1{
    color: grey;
    margin: 3rem 0;
}